 <!-- Portfolio Modals -->
 {% for project in site.projects %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ project.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <div class="modal-title"><h2>{{ project.title }}</h2></div>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ project.header }}" class="img-responsive img-centered" alt="{{ project.title }}">
                            <div class="row modal-people"><h3>Researchers</h3> {{ project.people }}</div>
                            <div class="row">{{ project.content }}</div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
