<!-- News Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="service-heading">Hamburger Helper Hackaton - Hungry Hamburger Helpers Wanted!</h3>
                    <p class="text-muted text-justified">A group of Occupational Therapy fellows have been designing for an assistive device 
                     for eating hamburgers. The <b> Hamburger Helper </b> is a device for keeping a hamburger together during eating. 
                     The initial idea and prototype was created by a bilateral upper limb amputee who was tired of hamburgers falling apart 
                     when he held them in his hook prostheses. Over the winter quarter, he and some OT fellows have developed some concepts 
                     and design specifications for advancing the idea. </p>
                     <p class=text-muted text-justified">If you have technical skills, come partner with some potential users of the device, 
                     and the clinicians, to realize and iterate on their designs using 3D printing and other fab techniques. </p>                     
                    <p class="text-muted text-justified">Thursday, March 29th, 2018, at 9:00am, meet at the 
                     <a href="https://depts.washington.edu/amplify/>AMP lab</a>. The teams will work through the day,  culminating with
                     with <b> Hamburger Happy Hour </b> at 4:00. Work with our faculty and professional engineers, learn about assistive devices, 
                     and get to use some fancy 3D printers! </p>
                    <p class="text-muted text-justified">RSVP to rombokas@uw.edu by Weds. March 28th, 11:59pm </p>
                </div>                
            </div>
            
        </div>
    </section>
