<!-- News Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                    <h3 class="service-heading" id="LimbSimulatorAopa2019"> CLiMB Open House </h3>
                    <p class="text-muted text-justified"> The VA Center for Limb Loss and MoBility (CLiMB) is nearing the completion of its move 
                        into our new home in Building 101 at the VA Puget Sound Health Care System. To celebrate our transition into the new facility, 
                        and to showcase the new laboratory spaces supporting our research, we are planning to host an open house on October 24th. 
                        Our early agenda includes opening our event with a guest speaker followed by a free form open house with our laboratories 
                        set up, opened up and with numerous projects, videos and stations showing the plethora of work being done at CLiMB to 
                        further the VA mission to veterans’ healthcare.
                    </p>
                    
                    
                    <h3 class="service-heading" id="LimbSimulatorAopa2019"> Limb Simulator demo at AOPA National Assembly 2019 </h3>
                    <p class="text-muted text-justified"> We will be presenting live demos at the American Orthotic and Prosthetic Association 
                        <a href="https://www.aopanet.org/education/2019-aopa-national-assembly/">national assembly</a> september 25-28. 
                    <p class="text-muted text-justified"> This is part of the VA Office of Research and Development Rehabilitation 
                        Roadshow. RR&D will be at BOOTH 1519 in the Exhibition Hall to present and demonstrate prosthetics-related 
                        devices developed by VA investigators. The objective is to increase ORD visibility, potential licensing 
                        opportunities, solicit feedback that could help improve the devices, or create new ones.

                        Featured Device Development:
                        Louis Stokes VA, Cleveland: restoration of touch to upper and lower limb prosthetics. Upper-limb user will 
                        demonstrate the system 
                        Minneapolis VA: adaptable ankle, rehab ankle, 3D printed variable heel height foot/ankle, socket fit sensor, 
                        Prosthetic Sock Management Tool 
                        Seattle VA: pivot flex foot, Virtual Reality phantom pain treatment
                        
                        Cleveland researchers will be presenting a symposium, “Prostheses that Feel: Clinical and Technical 
                        Considerations for Restoring Sensation to Upper and Lower Limb Amputees” on Sept, 28th from 1-5PM.
                        
                        Contact me rombokas@uw.edu if you're interested in free admission to the expo hall on Saturday morning.
                    </p>
                    
                    
                    <h3 class="service-heading" id="LimbSimulatorSpring2019" >Limb Simulator in the news</h3>
                    <p class="text-muted text-justified">Some recent media interest in our Limb Simulator for treating phantom limb pain:
                    Seattle Kiro News <a href="https://www.kiro7.com/news/local/groundbreaking-technology-helping-veterans-whove-lost-limbs/956357761">story here</a> and Geekwire <a href="https://www.geekwire.com/2019/vr-therapy-veterans-use-virtual-reality-tackle-phantom-pain-amputated-limbs/">story here.</a> 
                    </p>
                    
                    <h3 class="service-heading" id="MicrostructuresFat" >3d Printed Microstructure Lattices in the news</h3>
                    <p class="text-muted text-justified">Our recent work in using lattices to mimic biomechanical tissue properties is in the news. <a href="https://physicsworld.com/a/3d-printed-microstructures-mimic-human-soft-tissues/">Physics World Article</a>
                    </p>
                    
                    <h3 class="service-heading" id="HamburgerHelperHackathon" >Hamburger Helper Hackaton - Hungry Hamburger Helpers Wanted!</h3>
                    <p class="text-muted text-justified">A group of Occupational Therapy fellows have been designing an assistive device 
                     for eating hamburgers. The <b> Hamburger Helper </b> is a device for keeping a hamburger together during eating. 
                     The initial idea and prototype was created by a bilateral upper limb amputee who was tired of hamburgers falling apart 
                     when he held them in his hook prostheses. Over the winter quarter, he, the OT fellows, and the experts at VA have 
                     developed some concepts and design specifications for advancing the idea. </p>
                     <p class=text-muted text-justified">If you have technical skills, come partner with some potential users of the device, 
                     and the clinicians, to realize and iterate on their designs using 3D printing and other fab techniques. </p>                     
                    <p class="text-muted text-justified">Thursday, March 29th, 2018, at 9:00am, meet at the 
                     <a href="https://depts.washington.edu/amplify/">AMP lab</a>. The teams will work through the day,  culminating with
                     with <b> Hamburger Happy Hour </b> at 4:00. Work with our faculty and professional engineers, learn about assistive devices, 
                     and get to use some fancy 3D printers! </p>
                    <p class="text-muted text-justified">RSVP to rombokas@uw.edu by Weds. March 28th, 11:59pm </p>
                </div>                
            </div>
            
        </div>
    </section>
