<!-- Publications Section -->
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% for item in site.data.publications.pubs %}
                      <p class="publications"><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>, <i>{{ item.authors }}</i> ({{ item.year }})</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
