<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h3 class="service-heading">What we do</h3>
                    <p class="text-muted text-justified">We seek to understand how humans and other animals sense their bodies and the environment to control movement. We use this understanding to improve mobility for people with lower limb amputation – walking, negotiating stairs, running, jumping. We are building smarter sensors and controllers for prosthetic limbs. We are creating technology that improves the prosthesis wearing experience by providing sensory feedback. And we are doing basic research in neural control of movement, how the brain creates a sense of ownership of the body, and more!</p>
                    <p class="text-muted">We are located at the Veterans Affairs Center for Prosthetic Engineering and Limb Loss Prevention in Seattle, one of the biggest amputation research organizations in the world. We are also with the University of Washington.</p>
                </div>
                <div class="col-md-4">
                    <h3 class="service-heading">Latest News</h3>
                    <p class="text-muted">1/1/2018 - Happy 2018!</p>
                </div>
            </div>
        </div>
    </section>
